<div class="container">
  <h2 class="text-center mt-4">お問い合わせ情報確認</h2>
    <hr class="divider">
  <div class="row bg-user m-5">
    <div class="col m-3">
      <table class="table mt-2">
        <tbody>
          <tr>
            <td class="text-right">お名前</td>
            <td class="text-left"><%= @contact.name %></td>
          </tr>
          <tr>
            <td class="text-right">メールアドレス</td>
            <td class="text-left"><%= @contact.email %></td>
          </tr>
          <tr>
            <td class="text-right">電話番号</td>
            <td class="text-left"><%= @contact.phone_number %></td>
          </tr>
          <tr>
            <td class="text-right">問い合わせ内容</td>
            <td class="text-left"><%= @contact.message %></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-5">
        <%= form_for(@contact) do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :phone_number %>
          <%= f.hidden_field :message %>
          <div><%= f.submit '送信', class: "btn btn-primary btn-xl mr-5 p-3" %></div>
        <% end %>
        <%= form_for @contact, url: back_path do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :phone_number %>
          <%= f.hidden_field :message %>
          <div><%= f.submit '入力画面に戻る', class: "btn btn-secondary btn-xl p-3" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
