<%= form_with model: group, local: true do |f| %>
  <div class="row">
    <table class="table table-borderless mx-auto">
      <tr class="form-group">
        <th><%= f.label :グループ名 %></th>
        <td><%= f.text_field :name, class: "form-control" %></td>
      </tr>
      <tr class="form-group">
        <th><%= f.label :紹介文 %></th>
        <td><%= f.text_area :introduction, class: "form-control" %></td>
      </tr>
    </table>
  </div>
  <div class="d-grid col-2 mx-auto">
    <% if f.object.new_record? %>
      <%= f.submit "新規登録", class: "py-2 px-4 btn btn-success submit-btn" %>
    <% else %>
      <%= f.submit "変更を保存", class: "py-2 px-4 btn btn-success submit-btn" %>
    <% end %>
  </div>
<% end %>
 
