<% if groups.present? %>
  <div class="d-flex flex-wrap">
    <% groups.each do |group| %>
      <div class="card m-2" style="width: calc(25% - 1rem);">
        <%= link_to "", group_path(group), class: "stretched-link text-dark" %>
        <div class="card-body">
          <h5 class="card-title text-center" style="background:#FFF5EE;"><%= group.name %></h5>
          <div class="text-center">
            <p><%= group.introduction %></p>
          </div>
          <div class="text-center">
            <i class="fa-solid fa-user-group" style="font-size: 15px;">   <%= group.users.count %></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="bg-orange">
    <p class="fw-bold text-center my-5">グループはありません</p>
  </div>
<% end %>  
<%= paginate groups , theme: 'bootstrap-5'%>
