<div class="container p-3">
  <h2 class="mt-3 text-center">承認待ち一覧</h2>
  <div class="heading-line"></div>
  <h4 class="mt-3 text-center">グループ名：<%= @group.name %></h4>

  <div class="row mt-5">
    <div class="col-11 col-md-12 mx-auto">
    <% if @permits.present? %>
      <div class="table-responsive">
        <table class="table table-hover text-center text-nowrap">
          <thead class="permit-thead">
            <tr>
              <th>プロフィール画像</th>
              <th>名前</th>
              <th>自己紹介</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @permits.each do |permit| %>
              <tr>
                <td><%= image_tag permit.user.get_profile_image, size: '50x50', style: "object-fit: contain; border-radius: 50%;" %></td>
                <td><%= link_to permit.user.name, users_my_page_path(permit.user.id), class: "text-dark" %></td>
                <td>
                  <%= permit.user.introduction %>
                </td>
                <td>
                  <%= link_to '加入許可', group_group_users_path(@group, permit_id: permit.id), method: :post, class: "btn btn-sm btn-success" %>
                </td>
                <td>
                  <%= link_to '加入拒否',cancel_request_path(group_id: @group, id: permit.id), method: :delete, data: { confirm: '本当にキャンセルしますか？' }, class: "btn btn-sm btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="text-center">承認待ちユーザーはいません。</p>
    <% end %>
    </div>
    <div class="mx-auto mt-5"><%= paginate @permits, theme: 'bootstrap-5' %></div>
  </div>


</div>
