<div class="container">
  <div class="row">
    <div class="col-6 m-3">
      <h2 class="m-3">オーナー</h2>
      <%= render 'public/users/info', user: @owner %>
    </div>
    <div class="col-6">
      
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <h2 class="m-3">グループ詳細</h2>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>グループ名</th>
                <th>紹介文</th>
                <th>メンバー</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @group.name %></td>
                <td><%= @group.introduction %></td>
                <td>
                  <% @group.users.each do |user| %>
                    <li style="list-style:none;"><%= user.name %></li>
                  <% end %>  
                </td>
                <td>
                  <% if @group.owner_id == current_user.id %>
                    <%= link_to '編集', edit_group_path(@group), class: "btn btn-sm btn-success" %>
                  <% else %>
                    <% if @group.include_user?(current_user) %>
                      <%= link_to "グループから退会する", group_group_users_path(@group), method: :delete, class: "btn btn-danger" %>
                    <% else %>
                      <%= link_to "グループに参加する", group_group_users_path(@group), method: :post, class: "btn btn-success" %>
                    <% end %>  
                  <% end %>  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
