<%= form_with model: post, local: true do |f| %>
  <div class="row m-3">
    <table class="table table-borderless mx-auto">
      <tr class="form-group">
        <th><%= f.label :title, "タイトル" %></th>
        <td><%= f.text_field :title, autofocus: "true", placeholder: "タイトル", size: "30", class: "form-control" %></td>
      </tr>
      <tr class="form-group">
        <th><%= f.label :body, "詳細" %></th>
        <td><%= f.text_field :body, placeholder: "詳細", size: "30", class: "form-control" %></td>
      </tr>
      <tr class="form-group">
        <th><%= f.label :start_date, "開始日" %></th>
        <td><%= f.date_field :start_date, class: "form-control" %></td>
      </tr>
      <tr class="form-group">
        <th><%= f.label :finish_date, "終了日" %></th>
        <td><%= f.date_field :finish_date, class: "form-control" %></td>
      </tr>
      <tr class="form-group">
        <th><%= f.label :name, "タグ" %></th>
        <td>
          <%= f.text_field :name, value: tags, placeholder: ",で区切ると複数タブ登録可能", class: 'form-control' %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <% if post.persisted? %>
            <% if post.draft? %>
              <%= f.radio_button :status, "draft" %>
              <%= f.label :status_draft, "下書き保存" %>
              <%= f.radio_button :status, "published" %>
              <%= f.label :status_published, "公開する" %>
            <% elsif post.unpublished? %>
              <%= f.radio_button :status, "unpublished" %>
              <%= f.label :status_unpublished, "非公開にする" %>
              <%= f.radio_button :status, "published" %>
              <%= f.label :status_published, "公開する" %>
            <% else %>
              <%= f.radio_button :status, "unpublished" %>
              <%= f.label :status_unpublished, "非公開にする" %>
              <%= f.radio_button :status, "published" %>
              <%= f.label :status_published, "公開する" %>
            <% end %>
          <% else %>
              <%= f.radio_button :status, "draft" %>
              <%= f.label :status_draft, "下書き保存" %>
              <%= f.radio_button :status, "published" %>
              <%= f.label :status_published, "公開する" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="container col-2 mx-auto">
    <div class="row justify-content-between">
      <% if f.object.new_record? %>
        <div class="col">
          <%= f.submit "新規登録", class: "py-2 px-4 btn btn-success submit-btn" %>
        </div>
      <% else %>
        <div class="col">
          <%= f.submit "変更を保存", class: "py-2 px-4 btn btn-success submit-btn" %>
        </div>

      <% end %>
    </div>
  </div>
<% end %>