<%= form_with(model: post, local: true, class:"was-validated") do |f| %>
<div class="row m-3">
  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, placeholder: "タイトル", class: "form-control", required: true %>
    <div class="invalid-feedback">
      タイトルを入力してください
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body, "詳細" %>
    <%= f.text_field :body, placeholder: "詳細", class: "form-control", required: true %>
    <div class="invalid-feedback">
      詳細を入力してください
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_date, "開始日" %>
    <%= f.date_field :start_date, class: "form-control", required: true %>
    <div class="invalid-feedback">
      日程を選択してください
    </div>
  </div>
  <div class="form-group">
    <%= f.label :finish_date, "終了日" %>
    <%= f.date_field :finish_date, class: "form-control", required: true %>
    <div class="invalid-feedback">
      日程を選択してください
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, "タグ" %>
    <%= f.text_field :name, value: tags, placeholder: ",で区切ると複数タブ登録可能", class: 'form-control' %>
  </div>
  <div class="form-group">
    <% if post.persisted? %>
      <% if post.draft? %>
        <%= f.radio_button :status, "draft" %>
        <%= f.label :status_draft, "下書き保存" %>
        <%= f.radio_button :status, "published" %>
        <%= f.label :status_published, "公開する" %>
      <% elsif post.unpublished? %>
        <%= f.radio_button :status, "unpublished" %>
        <%= f.label :status_unpublished, "非公開にする" %>
        <%= f.radio_button :status, "published" %>
        <%= f.label :status_published, "公開する" %>
      <% else %>
        <%= f.radio_button :status, "unpublished" %>
        <%= f.label :status_unpublished, "非公開にする" %>
        <%= f.radio_button :status, "published" %>
        <%= f.label :status_published, "公開する" %>
      <% end %>
    <% else %>
        <%= f.radio_button :status, "draft" %>
        <%= f.label :status_draft, "下書き保存" %>
        <%= f.radio_button :status, "published" %>
        <%= f.label :status_published, "公開する" %>
    <% end %>
  </div>
  
  <div class="d-grid col-2 mx-auto">
    <% if f.object.new_record? %>
      <%= f.submit "新規登録", class: " px-4 btn btn-success submit-btn" %>
    <% else %>
      <%= f.submit "変更を保存", class: " px-4 btn btn-success submit-btn" %>
    <% end %>
  </div>
</div>
<% end %>