<div class="bg-user">
  <div class="dropdown text-end">
    <a class="btn btn-outline-secondary dropdown-toggle m-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-ellipsis"></i>
    </a>
  
    <ul class="dropdown-menu">
      <li>
        <%= link_to  post_post_comments_path(post), class: "dropdown-item" do %>
          <i class="fa-regular fa-comment-dots text-dark"></i> コメント一覧</i>
        <% end %>  
      </li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <h3 class="text-center pt-2">投稿詳細</h3>
  <div class="heading-line mx-2"></div>
  <table class="table text-center">
    <tr>
      <td colspan="2">
        <%= link_to users_my_page_path(post.user) , class: "text-dark" do %>
          <%= image_tag post.user.get_profile_image %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="bar-th">投稿者</th>
      <td>
        <%= link_to users_my_page_path(post.user) , class: "text-dark" do %>
          <%= post.user.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="bar-th">開始日</th>
      <td><%= post.start_date.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
      <th class="bar-th">終了日</th>
      <td><%= post.finish_date.strftime("%Y/%m/%d") %></td>
    </tr>
    <% if current_user == post.user %>
      <tr>
        <th class="bar-th">公開ステータス</th>
        <td><%= post.status_i18n %></td>
      </tr>
    <% end %>  
    <tr>
      <th class="bar-th">タイトル</th>
      <td><%= post.title %></td>
    </tr>
    <tr>
      <th class="bar-th text-wrap">詳細</th>
      <td><%= post.body %></td>
    </tr>
    <tr>
      <th class="bar-th">いいね</th>
      <td id="favorite_buttons_<%= post.id %>">
        <%= render 'public/favorites/btn', post: post %>
      </td>
    </tr>
    <tr>
      <th class="bar-th">タグ</th>
      <td>
        <% unless post_tags.nil? %>
          <% post_tags.each do |tag| %>
            <%= link_to search_tag_path(tag_id: tag.id), class: "badge rounded-pill text-bg-light text-dark" do%>
              <i class="fa-solid fa-tag"></i><%= tag.name %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="bar-th">コメント数</th>
      <td id="comment_counter">
        <%= render "public/post_comments/counter", post: post %>
      </td>
    </tr>
  </table>
  <div class="container d-flex">
    <% if post.user == current_user %>
      <div class="col text-center">
        <!--# Button trigger modal-->
        <%= link_to "#editpostModal",class: "btn btn-block btn-info", data: {toggle: "modal"} do %>
          <i class="fa-solid fa-pen-to-square text-white"> 編集</i>
        <% end %>  
        <!--# Modal-->
        <div class="modal fade" id="editpostModal" tabindex="-1" role="dialog" aria-labelledby="editpostModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editpostModalLabel">投稿編集</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'public/posts/form_modal', post: @post, tags: @tags %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <%= link_to  post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-block btn-danger" do %>
          <i class="fa-solid fa-trash-can text-white"> 削除</i>
        <% end %>  
      </div>
    <% else %>
      <% unless current_user == post.user || post.user.guest_user? %>
        <%= render "public/relationships/btn", user: post.user, options: { class: ""} %>
      <% end %>
    <% end %>
  </div>

</div>
