<div class="container">
  <div class="row m-3">
    <h2>旅程詳細</h2>
  </div>
  <div class="row">
    <div class="col-4">
      <table class="table table-hover text-center">
        <tr>
          <th>開始日</th>
          <td><%= @post.start_date %></td>
        </tr>
        <tr>
          <th>終了日</th>
          <td><%= @post.finish_date %></td>
        </tr>
        <tr>
          <th>タイトル</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th>詳細</th>
          <td><%= @post.body %></td>
        </tr>
      </table>
      <div class="container">
        <div class="row m-3">
          <%= link_to '編集する', edit_post_path, class: "btn btn-block btn-info" %>
        </div>
        <div class="row m-3">
          <%= link_to '削除する', post_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-block btn-danger" %>
        </div>
      </div>
    </div>
    <div class="col-7 offset-1">
      <p>タイムスケジュール導入箇所</p>
    </div>
  </div>
</div>
