
<div class="container bg-orange mx-auto">
  <div class="row">
    <h2 class="col text-center mt-4">管理者ログイン</h2>
    <div class="heading-line-admin "></div>
  </div>
  <div class="row mx-5">
    <div>
　　　　<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "admin/shared/error_messages", resource: resource %>
        <table class="table table-borderless mt-4 mx-5 mx-auto">
          <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "sample@example.com" %></td>
          </tr>
          <tr>
            <th>パスワード</th>
            <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div class="active">
                <%= f.submit "ログイン", class: "btn btn-success w-50 mt-3" %>
              </div>
            </td>
          </tr>
        </table>
       <% end %>
    </div>
  </div>
</div>
