<div class="container">
  <div class="row">
    <div class="col">
      <table class="table ">
        <% if @model == "User" %>
          <h2>"<%= @word %>"のユーザー検索結果</h2>
          <%= render 'public/users/index', users: @users %>
        <% elsif @model == "Post" %>
          <h2>"<%= @word %>"の投稿検索結果</h2>
          <%= render 'public/posts/index', posts: @posts %>
        <% else %>
          <h2>"<%= @word %>"の旅程検索結果</h2>
          <%= render 'public/itineraries/index', itineraries: @itineraries %>
        <% end %>
      </table>
    </div>
  </div>
</div>