

<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>日程</th>
      <th>開始時間</th>
      <th><p>~</p></th>
      <th>終了時間</th>
      <th>タイトル</th>
      <th>場所</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody >
    <% itineraries.each do |itinerary| %>
    <tr>
      <td><%= itinerary.what_day %></td>
      <td><%= itinerary.start_time.strftime( "%H:%M" ) %></td>
      <td><p>~</p></td>
      <td><%= itinerary.finish_time.strftime( "%H:%M" ) %></td>
      <td>
        <%= link_to post_itinerary_path(itinerary.post_id, itinerary.id), class: "text-black" do %>
          <%= itinerary.title %>
        <% end %>
      </td>
      <td><%= itinerary.place %></td>
      <td>
        <% if post.user == current_user %>
          <%= link_to "削除", post_itinerary_path(itinerary.post_id, itinerary.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-secondary" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>