<div class="container-fluid d-flex flex-column">
  <% itineraries.each do |itinerary| %>
    <div class="card row m-2 d-flex" style="width: 100%;">
        <div class="card-body d-flex">
          <div class="itinerary-left col-md-3">
            <div class="d-flex flex-column">
              <span class="badge rounded-pill" style="background: #cd5c5c;"><%= itinerary.what_day %>days</span>
              <p class="small text-center mt-3"><%= itinerary.start_time.strftime("%H:%M") %></p>
            </div>
          </div>
          <div class="itinerary-right col-md-8 offset-1">
            <h5 class="card-title"><%= itinerary.title %></h5>
            <p><i class="fa-solid fa-location-dot"></i><%= itinerary.place %></p>
            
            <!-- モーダルのボタン -->
            <%= link_to("", "#exampleModalLong", class: "stretched-link", data: { toggle: "modal" }) %>

            <!-- モーダルの設定 -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header justify-centent-center">
                    <h3 class="modal-title" id="exampleModalLongTitle">旅程詳細</h3>
                  </div>
                  <div class="modal-body">
                    <table class="table table-hover text-center">
                      <tr>
                        <th>開始時間</th>
                        <td><%= itinerary.start_time.strftime( "%H:%M" ) %></td>
                      </tr>
                      <tr>
                        <th>終了時間</th>
                        <td><%= itinerary.finish_time.strftime( "%H:%M" ) %></td>
                      </tr>
                      <tr>
                        <th>タイトル</th>
                        <td><%= itinerary.title %></td>
                      </tr>
                      <tr>
                        <th>場所</th>
                        <td><%= itinerary.place %></td>
                      </tr>
                      <tr>
                        <th>詳細</th>
                        <td><%= itinerary.body %></td>
                      </tr>
                      <tr>
                        <th>費用</th>
                        <% itinerary.prices.each do |price| %>
                          <td class="d-flex pl-5">
                            <p>¥ <%= price.price %></p><p class="ml-3"><%= price.body %></p>
                          </td>
                        <% end %>  
                      </tr>
                    </table>
                  </div>
                  <div class="modal-footer">
                      <%= link_to "詳細", post_itinerary_path(itinerary.post_id, itinerary.id), class: "btn btn-secondary" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-center" style="height: 25px; padding: 0;">
          <div class="d-flex ml-5">
            <% if itinerary.post.user == current_user %>
              <div class="edit-icon">
                <%= link_to  edit_post_itinerary_path(itinerary.post_id, itinerary.id) do %>
                  <i class="fa-solid fa-pen-to-square text-dark"></i>
                <% end %>  
              </div>
              <div class="delete-icon ml-3">
                <%= link_to post_itinerary_path(itinerary.post_id, itinerary.id), method: :delete, remote: true, data: {"turbolinks" => false} do %>
                  <i class="fa-solid fa-trash-can text-dark"></i>
                <% end %> 
              </div>
            <% end %>
          </div>
        </div>  
    </div>
  <% end %>
</div>
<%= paginate itineraries , theme: 'bootstrap-5'%>