<div class="container">

  <div class="row">
    <div class="col-lg-4">
      <%= render 'public/posts/index_bar', post: @post ,tags: @tags , post_tags: @post_tags%>
    </div>
    <div class="col-lg-7 offset-lg-1">
      <div class="row m-3">
        <h2 class="text-center">旅程詳細</h2>
        <div class="heading-line"></div>
      </div>
      <table class="table table-hover text-center">
        <tr>
          <th>タイトル</th>
          <td colspan="5"><%= @itinerary.title %></td>
        </tr>
        <tr>
          <th>詳細</th>
          <td colspan="5"><%= @itinerary.body %></td>
        </tr>
        <tr>
          <th>日程</th>
          <td><%= @itinerary.what_day %></td>
          <th>開始時間</th>
          <td><%= @itinerary.start_time.strftime( "%H:%M" ) %></td>
          <th>終了時間</th>
          <td><%= @itinerary.finish_time.strftime( "%H:%M" ) %></td>
        </tr>
        <tr>
          <th>場所</th>
          <td><%= @itinerary.place %></td>
          <th>移動方法</th>
          <td><%= @itinerary.traffic_method_i18n %></td>
          <th>移動時間</th>
          <td><%= @itinerary.traffic_time_display %></td>
        </tr>
      </table>
      <% if @post.user == current_user %>
      <div class="container m-3">
        <div class="row d-flex">
          <div class="col m-3">
            <!--# Button trigger modal-->
            <%= link_to "#editItineraryPostModal",class: "btn btn-block btn-info", data: {toggle: "modal"} do %>
              <i class="fa-solid fa-pen-to-square text-white"> 編集</i>
            <% end %>  
            <!--# Modal-->
            <div class="modal fade" id="editItineraryPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editPostModalLabel">旅程の編集</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= render 'public/itineraries/form_modal', post: @post, itinerary: @itinerary, duration: @duration %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col m-3">
            <%= link_to post_itinerary_path(@itinerary.post_id, @itinerary.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-block btn-danger" do %>
              <i class="fa-solid fa-trash-can text-white"> 削除</i>
            <% end %>  
          </div>
        </div>
      </div>
      <% end %>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="tabs d-flex justify-content-between align-items-center">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#price">費用</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#article">参考記事</a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div id="price" class="tab-pane fade show active">
                <% if @post.user == current_user %>
                  <div class="row mt-3" id="price_error">
                    <%= render 'layouts/errors', obj: @price %>
                  </div>
                  <div class="row" id="price-form">
                    <%= render "public/prices/form", post: @post, itinerary: @itinerary, price: @price %>
                  </div>
                <% end %>
                <div class="row m-4" id="price-index">
                  <%= render "public/prices/index", post: @post, itinerary: @itinerary, prices: @prices %>
                </div>
              </div>
              <div id="article" class="tab-pane fade">
                <% if @post.user == current_user %>
                  <div class="row mt-3" id="article_error">
                    <%= render 'layouts/errors', obj: @article %>
                  </div>
                  <div class="row" id="article-form">
                    <%= render "public/articles/form", post: @post, itinerary: @itinerary, article: @article %>
                  </div>
                <% end %>
                <div class="row m-4" id="article-index">
                  <%= render "public/articles/index", post: @post, itinerary: @itinerary, articles: @articles %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

