<table class="table table-hover mt-3">
  <thead class="text-center">
    <tr>
      <th class="bar-th">投稿日</th>
      <th class="bar-th">投稿者</th>
      <th class="bar-th">開始日</th>
      <th class="bar-th">終了日</th>
      <th class="bar-th">タイトル</th>
    </tr>
  </thead>
  <tbody  class="text-center">
    <% posts.each do |post| %>
    <tr  onclick='window.location="<%= admin_post_path(post) %>"' role="link">
      <td><%= post.created_at.to_s(:datetime_jp) %></td>
      <td class="align-middle">
        <div class="row">
          <%= link_to admin_user_path(post.user) ,class: "text-dark" do %>
            <div class="text-center">
              <%= image_tag post.user.get_profile_image, size: '64x36', style: "object-fit: contain;" %>
            </div>
            <div class="text-center">
              <%= post.user.name %>
            </div>
          <% end %>  
        </div>
      </td>
      <td><%= post.start_date.strftime("%Y/%m/%d") %></td>
      <td><%= post.finish_date.strftime("%Y/%m/%d") %></td>
      <td>
        <%= post.title %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
