<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'public/posts/index_bar', post: @post, post_tags: @post_tags %>
    </div>
    <div class="col-7 offset-1">
      <h3 class="m-3">コメント投稿フォーム</h3>
      <%= form_with model: [@post, @new_comment] ,url: post_post_comments_path, method: :post, local: false do |f| %>
      <table class="table">
        <tr>
          <th>コメント</th>
          <td><%= f.text_field :comment, placeholder: "コメントをここへ" ,class: "form-control", id: "comment_textarea" %></td>
        </tr>
      </table>
      <div class="row">
        <div class="col-12 mx-auto p-1">
          <%= f.submit "コメント投稿", class: "btn btn-success" %>
        </div>
      </div>
      <% end %>
      
      <div class="container">
        <div class="row">
          <div class="col", id="comment_index">
            <%= render 'index', post_comments: @post_comments %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= paginate @post_comments %>