<div class="container px-1 py-2">
  <%= render 'layouts/errors', obj: @group %>
  <div class="row bg-gray">
    <div class="col">
      <h2 class="m-3 text-center">グループ情報編集</h2>
      <div class="heading-line-admin"></div>
        <div class="mx-auto">
        <%= form_with model: @group,url: admin_group_path, method: :patch do |f| %>
          <table class="table table-borderless">
            <tr>
              <th>グループ名</th>
              <td><%= f.text_field :name, autofocus: true, class: "form-control" %></td>
            </tr>
            <tr>
              <th>紹介文</th>
              <td><%= f.text_field :introduction, class: "form-control" %></td>
            </tr>
            <tr>
              <th>グループステータス</th>
              <td>
                <%= f.radio_button :is_active, "true" %>
                <%= f.label :is_active_true, "有効" %>
                <%= f.radio_button :is_active, "false" %>
                <%= f.label :is_active_false, "停止" %>
              </td>
            </tr>
          </table>
          <div class="row">
            <div class="col-12 col-md-5 p-1">
              <%= f.submit "編集内容を保存", class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
