<div class="container">
  <div class="row">
    <div class="col-md-4 bg-gray ">
      <h2 class="m-3 text-center">オーナー情報</h2>
      <div class="heading-line-admin "></div>
      <div class="text-center">
        <%= image_tag @owner.get_profile_image %>
      </div>
      <table class="table table-border">
        <tr>
          <th class="bar-th">ID</th>
          <td><%= @owner.id %></td>
        </tr>
        <tr>
          <th class="bar-th">アカウント名</th>
          <td><%= @owner.name %></td>
        </tr>
        <tr>
          <th class="bar-th">紹介文</th>
          <td><%= @owner.introduction %></td>
        </tr>
        <tr>
          <th class="bar-th">メールアドレス</th>
          <td><%= @owner.email %></td>
        </tr>
        <tr>
          <th class="bar-th">会員ステータス</th>
          <td>
            <% if @owner.is_active %>
              <div class="text-success"><b>有効</b></div>
            <% else %>
              <div class="text-secondary"><b>退会</b></div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-7 offset-md-1">
      <div class="container">
        <div class="row">
          <h2 class="m-3 text-center">グループ詳細</h2>
          <div class="heading-line-admin "></div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table mt-2">
              <tr>
                <th class="bar-th">グループ名</th>
                <td><%= @group.name %></td>
              </tr>
              <tr>
                <th class="bar-th">紹介文</th>
                <td><%= @group.introduction %></td>
              </tr>
              <tr>
                <th class="bar-th">メンバー</th>
                <td>
                  <% @group.users.each do |user| %>
                    <li>
                      <%= link_to admin_user_path(user) do %>
                        <%= user.name %>
                      <% end %>  
                    </li>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th class="bar-th">グループステータス</th>
                <td>
                  <% if @group.is_active %>
                    <div class="text-success"><b>有効</b></div>
                  <% else %>
                    <div class="text-secondary"><b>停止</b></div>
                  <% end %>
                </td>
              </tr>
            </table>
            <div class="row mt-5">
              <div class="col text-right">
                <%= link_to '編集', edit_admin_group_path(@group), class: "btn btn-xl py-2 btn-success" %>
              </div>
              <div class="col">
                <%= link_to '削除', admin_group_path(@group), method: :delete,"data-confirm" => "本当に削除しますか？", class: "btn btn-xl py-2 btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
