<table class="table table-hover mt-3">
  <thead class="text-center">
    <tr>
      <th class="bar-th">ID</th>
      <th class="bar-th">プロフォール画像</th>
      <th class="bar-th">アカウント名</th>
      <th class="bar-th">自己紹介</th>
      <th class="bar-th">会員ステータス</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <% users.each do |user| %>
      <tr onclick='window.location="<%= admin_user_path(user) %>"' role="link">
        <td><%= user.id %></td>
        <td><%= image_tag user.get_profile_image, size: '64x50' %></td>
        <td>
          <%= user.name %>
        </td>
        <td><%= user.introduction %></td>
        <td>
          <% if user.is_active %>
            <div class="text-success"><b>有効</b></div>
          <% else %>
            <div class="text-secondary"><b>退会</b></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate users , theme: 'bootstrap-5'%>