<div class="container">
  <div class="row">
    <div class="col-md-5 bg-gray">
      <h2 class="m-3 text-center">ユーザー情報</h2>
      <div class="heading-line-admin"></div>
      <div class="text-center mt-3">
        <%= image_tag @user.get_profile_image %>
      </div>
      <table class="table table-border">
        <tr>
          <th>ID</th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th>アカウント名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>紹介文</th>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @user.is_active %>
              <div class="text-success"><b>有効</b></div>
            <% else %>
              <div class="text-secondary"><b>退会</b></div>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="row m-3">
        <%= link_to edit_admin_user_path, class: "btn btn-outline-secondary btn-block" do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 offset-md-1">
      <div class="container">
        <div class="row">
          <h2 class="m-3 text-center">投稿一覧</h2>
          <div class="heading-line-admin"></div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= render 'admin/posts/index', posts: @posts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>