<div class="container">
  <div class="row">
    <div class="col-6 m-3 bg-user">
      <% if @user == current_user %>
        <h2 class="m-3">プロフィール</h2>
      <% else %>
        <h2 class="m-3">ユーザー詳細</h2>
      <% end %>
      <%= render 'info', user: @user %>
    </div>
    <div class="col-6">
      
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-end">
          <div>
            <%= link_to new_post_path do %>
              <i class="fa-solid fa-square-plus" style="color:gray; font-size: 30px;"></i>
            <% end %>  
          </div>
          <div class="ml-3">
            <%= link_to 'グループを作成する', new_group_path %>
            |
            <%= link_to 'グループ一覧', groups_path %>
          </div>
        </div>
      </div>
      <div class="row">
        <h2 class="m-3">各種一覧</h2>
      </div>
      <div class="row">
        <div class="col-12">
          <% if @user == current_user %>
            <div class="tabs d-flex justify-content-between align-items-center">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#published">公開中</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#draft">下書き</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#unpublished">非公開</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#followers">フォロワー</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#followings">フォロー</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#likes">いいね</a>
                </li>
              </ul>
            </div> 
            <div class="tab-content">
              <div id="published" class="tab-pane fade show active">
                <%= render "public/posts/index", posts: @published_posts %>
              </div>
              <div id="draft" class="tab-pane fade">
                <%= render "public/posts/index", posts: @draft_posts %>
              </div>
              <div id="unpublished" class="tab-pane fade">
                <%= render "public/posts/index", posts: @unpublished_posts %>
              </div>
              <div id="followers" class="tab-pane fade">
                <%= render "public/users/index", users: @followers %>
              </div>
              <div id="followings" class="tab-pane fade">
                <%= render "public/users/index", users: @followings %>
              </div>
              <div id="likes" class="tab-pane fade">
                <%= render "public/posts/index", posts: @like_posts %>
              </div>
            </div>
          <% else %>
            <div class="tabs d-flex justify-content-between align-items-center">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#published">公開中</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#followers">フォロワー</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#followings">フォロー</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#likes">いいね</a>
                </li>
              </ul>
            </div> 
            <div class="tab-content">
              <div id="published" class="tab-pane fade show active">
                <%= render "public/posts/index", posts: @published_posts %>
              </div>
              <div id="followers" class="tab-pane fade">
                <%= render "public/users/index", users: @followers %>
              </div>
              <div id="followings" class="tab-pane fade">
                <%= render "public/users/index", users: @followings %>
              </div>
              <div id="likes" class="tab-pane fade">
                <%= render "public/posts/index", posts: @like_posts %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

